body {
  font-family: sans-serif;
  color: #ffffff;
}
.header {
  display: block;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  background-color: #09a0f6;
  color: #ffffff;
}

.links {
  display: inline-block;
  float: right;
  opacity: 1;
  margin-right: 20px;
}
.links a {
  color: inherit;
  font-size: 14px;
}
a.logo {
  color: inherit;
  font-size: 32px;
  font-family: Jura;
  margin-left: 20px
}

.train {
  border: 0px solid red;
  vertical-align: text-bottom;
}

.main {
  margin-top: 8px;
  margin-bottom: 0px;
  color: #ccc;
}

footer {
  font-size: 12px;
  color: #666;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #666;
}
.results {
  background-color: #F5F5F5;
}
.results ul {
  font-family: jura;
  font-size: 12px;
  list-style: none;
  padding-left: 4px;
  color: #000000;
}

.title {
  color: #666;
  padding-left: 4px;
  padding-top: 4px;

}

.green {
  /*background-color: #63D656;*/
  background-color: #F0FBEF;
}

.green .title {
  background-color: #63D656;
}

.amber {
  /*background-color: #F7F323;*/
  background-color: #FEFEEB;
}
.amber .title {
  background-color: #F7F323;
}

.red {
  /*background-color: #F61D28;*/
  background-color: #FEEBEC;
}
.red .title {
  background-color: #F61D28;
}
