@(count: Int)

@main("Delays") {
    <div class="row">
    <div class="col m12">
    </div>
    </div>
    <div class="row">
      <div class="col m4">
        <div class="results green">
          <div class="delay-title"> <span>5 Mins Delay - @count trains</span></div>
          <ul>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>

          </ul>
        </div>
      </div>
      <div class="col m4">
        <div class="results amber">
          <div class="title">10 Mins Delay</div>
          <ul>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
            <li>17:30 Manchester Piccadilly - London Eustion 1m</li>

          </ul>
        </div>
      </div>
      <div class="col m4">
        <div class="results red"><div class="title">15 Mins &amp; Over  Delay</div>
        <ul>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>
          <li>17:30 Manchester Piccadilly - London Eustion 1m</li>

        </ul></div>
      </div>
    </div>


}
