@(stations: List[net.eatcode.trainwatch.search.Station])

@main("Delays") {
  <div class="row">
    <div class="col m6">
      <form id="stations">
        <select>
          <option value="">Select station (start typing)</option>
          @for(s <- stations) {
            <option value="@s.getCrs()">@s.getName()</option>
          }
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col m11">
    Departures from _station_
    <ul>
    </ul>
    </div>
    </div>
}
