@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
  <title>TrainWatch - Real-time UK rail network monitor | @title</title>

  <meta name="viewport" content="width=device-width, user-scalable=no">

  <meta name="description" content="Trainwatch - Real-time UK rail network monitor">
  <meta name="author" content="Ayub Malik/Eatcode.net">
  <meta name="keywords" content="Trains, Network Rail, Open Data, Streaming">

  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/siimple.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Jura:400,600'>
  
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

</head>

<body>

  <nav class="header">
    <a href="./" class="logo">TrainWatch <img class="train" src="/assets/images/t32.png"></img></a>
    <div class="links">
      <a href="./delays">Real-time Delays</a> |
      <a href="./livedepartures">Live Departures</a>
    </div>
  </nav>

  <div class="main">
    @content
  </div>

  <footer>&copy; <a href="https://eatcode.net">2016 Eatcode</a>
    <span>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span></footer>

</body>
</head>
