footer {
	position: relative !important;
}

.train {
	border: 0px solid red;
	vertical-align: text-bottom;
}

.brand-logo {
	font-family: Jura;
}

.results {
	background-color: #F5F5F5;
}

.results ul {
	font-size: 12px;
	list-style: none;
	padding-left: 4px;
}

.delay-title {
	padding-left: 4px;
	padding-top: 4px;
}

.green {
	/*background-color: #63D656;*/
	background-color: #F0FBEF;
}

.green .title {
	background-color: #63D656;
}

.amber {
	/*background-color: #F7F323;*/
	background-color: #FEFEEB;
}

.amber .title {
	background-color: #F7F323;
}

.red {
	/*background-color: #F61D28;*/
	background-color: #FEEBEC;
}

.red .title {
	background-color: #F61D28;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}