<configuration debug="false">

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>/var/trainwatch/logs/trainwatch.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date{ISO8601} %-5level %-20logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="file" />
  </root>

  <logger name="net.eatcode" level="debug" />

  <logger name="com.hazelcast.client" level="warn" />
</configuration>